synapse/pipeline/get Weather Date for trips.json
{
	"name": "get Weather Date for trips",
	"properties": {
		"activities": [
			{
				"name": "get Min Max TripTimes",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "get Min Max TripTimes",
						"type": "DataFlowReference",
						"parameters": {
							"pathToParquetFile": {
								"value": "'@{concat(pipeline().parameters.addedFileFolderPath, '/', pipeline().parameters.addedFileName)}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "get weather data",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "get Min Max TripTimes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "get weather data",
						"type": "NotebookReference"
					},
					"parameters": {
						"start_date": {
							"value": {
								"value": "@activity('get Min Max TripTimes').output.runStatus.output.minMaxDateSink.value[0].minTripDate",
								"type": "Expression"
							},
							"type": "string"
						},
						"end_date": {
							"value": {
								"value": "@activity('get Min Max TripTimes').output.runStatus.output.minMaxDateSink.value[0].maxTripDate",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"parameters": {
			"addedFileFolderPath": {
				"type": "string"
			},
			"addedFileName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T13:01:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}