synapse/pipeline/process dropped zip files.json
{
	"name": "process dropped zip files",
	"properties": {
		"activities": [
			{
				"name": "copy to enriched",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "unzip CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"fileListPath": {
								"value": "@concat('raw/',activity('unzip CSV').output['fileList'])",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "raw_parquet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "enriched",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "unzip CSV",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ProcessZippedCSV",
					"method": "PUT",
					"body": {
						"value": "{\n    \"sourceContainerName\":\"@{pipeline().parameters.droppedFileFolder}\",\n    \"sourceFilepath\":\"@{pipeline().parameters.droppedFileName}\",\n    \"targetContainerName\":\"raw\",\n    \"targetFolderPath\":\"staging\",\n    \"runId\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "unzipFile",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cleanup generated file list",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy to enriched",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "raw_parquet",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@{activity('unzip CSV').output['fileList']}",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"droppedFileName": {
				"type": "string"
			},
			"droppedFileFolder": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T12:13:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}